body {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

.NavBar_ClassName {
  display: fixed;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
  width: 100%;
}

.MainBar_MainBar {
  width: 100%;
  height: 50px;
}

.MainBar_MainBar_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  height: 50px;
  /* background-color: grey; */
}

.MainBar_hamberger {
  margin-right: 15px;
  margin-top: -2px;
  padding: 0;
}

.Menu_className {
  display: flex;
}

.Menu_className li {
  display: inline-block;
  position: relative;
  line-height: 20px;
  padding: 15px;
  font-weight: 600;
}

.Menu_className li:hover {
  color: inherit;
  box-shadow: 0 2px 0 0 rgb(0 0 0 / 10%);
}

.Menu_className em {
  display: inline-block;
  vertical-align: super;
  font-style: normal;
  font-size: 9px;
  font-weight: 500;
  color: #4468f7;
}

.Menu_className_option {
  position: relative;
}

.Menu_className_option_new,
.Menu_className_option_beta {
  padding: 10.5px !important;
  padding-right: 2px !important;
}

.Aside_className {
  display: flex;
}

.Aside_className li {
  display: inline-block;
  position: relative;
  line-height: 20px;
}

.signUpButton {
  widt10: 116px;
  padding-right: 4px !important;
  height: 20px;
}

.searchButton {
  margin-top: 5px;
  padding: 0 10px;
  font-weight: 600;
  width: 38px;
  height: 21px;
}

.menuButton {
  display: none;
  padding-left: 10px;
  padding-right: 5px;
}

.dashboardButton {
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 5px 10px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 13px;
  color: #666;
  line-height: 30px;
}

.Menu_className_home {
  display: none !important;
}

.xsSignUpButton {
  color: #36f;
  font-size: 14px;
  line-height: 32px;
  height: 34px;
  border: 1px solid #36f;
  border-radius: 17px;
  padding: 0 14px;
  display: none;
}

.before_line {
  background-color: rgb(225, 226, 227);
  box-sizing: border-box;
  display: inline-block;
  height: 10px;
  width: 1px;
  margin: auto 10px;
}

.mdMoreVisible {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
}

/* 미디어 쿼리 */

@media (max-width: 1200px) {
  body {
    font-size: 12px;
  }

  .MainBar_MainBar_nav {
    margin: 0 auto;
    width: 90%;
  }

  .searchButton {
    padding: 0 0;
  }

  .dashboardButton {
    margin-left: 0px;
  }

  .signUpButton {
    width: 100px;
    height: 20px;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 13px;
  }

  .MainBar_MainBar {
    width: 95%;
    height: 110px;
    margin: 0 auto;
  }

  .MainBar_MainBar_nav {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
  }

  .MainBar_MainBar_nav_top {
    display: flex;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .Menu_className li {
    padding: 11px 10px 19px;
  }

  .Menu_className li:hover {
    box-shadow: none;
  }

  .Menu_className_option_new,
  .Menu_className_option_beta {
    padding: 7px 10px !important;
    padding-right: 4px !important;
  }

  .signUpButton {
    display: none;
  }

  .dashboardButton {
    display: none;
  }

  .xsSignUpButton {
    display: inline-block;
  }

  .before_line {
    display: none;
  }

  .menuButton {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .MainBar_MainBar_nav_top {
    padding: 15px 20px;
  }

  .MainBar_MainBar {
    width: 100%;
    height: 110px;
    margin: 0 auto;
  }

  .MainBar_MainBar_nav {
    margin: 0 auto;
    width: 100%;
  }

  .Menu_className li {
    padding: 11px 10px 19px;
  }

  .Menu_className_option {
    display: none !important;
  }

  .Menu_className_option_new,
  .Menu_className_option_beta {
    display: none !important;
  }

  .Menu_className_home {
    display: inline-block !important;
    padding-left: 20px !important;
  }

  .menuButton {
    margin-right: 10px;
  }
}
