hr {
  border: none;
  height: 1px;
  background-color: #ececec;
}

.slider {
  display: flex;
}

.slider-box {
  display: block;
  width: 100%;
  overflow: hidden;
}

.carousel_slide {
  display: inline-block;
  padding: 0 6px;
  position: relative;
  width: 100%;
}

.carousel_slide_active {
  display: inline-block;
  position: relative;
  z-index: 0;
  padding: 0 6px;
  width: 100%;
}

.carousel_slide_information {
  background-color: white;
  position: absolute;
  z-index: 5;
  bottom: 28px;
  left: 34px;
  width: 330px;
  height: 146px;
  border-radius: 4px;
}

.carousel_slide_information h2 {
  margin: 20px;
  margin-bottom: 0;
  height: 30px;
  color: #333;
  font-weight: 700;
  font-size: 20px;
}

.carousel_slide_information h3 {
  margin: 0 20px;
  margin-bottom: 0;
  height: 44px;
  font-weight: 500;
  font-size: 14px;
}

.carousel_link {
  margin-top: 6px;
  margin-left: 13px;
  padding: 8px 6px;
  color: rgb(52, 102, 255);
  font-weight: bold;
  align-items: center;
  font-size: 14px;
  width: 79px;
  height: 49px;
}

.carousel_image {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  object-fit: cover;
}

/* 미디어 쿼리 */
@media (max-width: 1200px) {
  hr {
    display: none;
  }

  .carousel_image {
    /* width: 100%; */
    height: 183px;
    border-radius: 4px;
    object-fit: cover;
  }

  .carousel_slide_information {
    display: block;
    background-color: white;
    position: static;
    width: 100%;
    height: 212px;
    border-radius: 4px;
    text-align: center;
  }

  .carousel_slide_information h2 {
    display: block;
    height: auto;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .carousel_slide_information h3 {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.15;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
  }

  .carousel_link {
    display: block;
    text-align: center;
    padding: 8px 6px;
    margin: 3px auto;
    height: 40px;
    line-height: 1;
  }
}
